{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<div class="container-fluid logout-page">
    <body class="bowdy" style="background-image:url(/static/images/subm.avif)" height="100vh" >
        
        <div class="logout-section">
                <h3 class="intro-text">Thanks for being part of our community!</h3>           
                <a href="/accounts/login/?next=/"><button class="btn btn-primary log-btn">Login</button></a>
        </div>
       
    </body>
</div>

{% endblock %}