{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
      <body class="bowdy" style="background-image:url(/static/images/proj.avif)" height="100vh" >
            <div class="profile-details">
              <strong><p>MY PROFILE</p></strong>   
              <hr>
             {% for profile in profiles %}
              <div class="m-2 p-3 text-center">
                <img class="prof-pic" src="{{profile.profile_picture.url}}" alt="">
                <p class="mt-2">{{profile.user}}</p>
              </div>
                 <p><i class="fas fa-quote-right me-2"></i>{{profile.bio}}</p>
                     <p> My email : {{profile.email}}</p>
                       <p>My Phone Number : {{profile.phone_number}}</p>
                          {% endfor %}
                            <div>
                                  <h6>Submitted Projects</h6>
                                        {% for project in projects%}
                                          <p>{{project.title}}</p>
                                        {% endfor %}
                             </div>
            </div>
        </body>
    </div>
</div>

{% endblock %}