{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<div class="container">
    <div class="row m-5"> 
        {% if users%}
        
        <p>We have found <strong>{{ users|length }} </strong>result by the name
            <strong><a href="{% url 'site_details' id=project.id%}">{{message}}</a></strong></p>
        {% else %}
        <p> We have found <strong>0</strong> users by the name <strong>"{{message}}"</strong>. Please confirm if you
            have submitted the right name.<a class="text-dark" href="{% url 'index' %}">Search again?</a></p>
        {% endif %}
    </div>  
</div>
   
    {% endblock %}