{%extends 'registration/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content%}
<div class="container">
    <body class="bowdy" style="background-image:url(/static/images/subm.avif)" height="100vh" >
    <div class="panel panel-default post-body">
            <div class="panel-body">
                <form action="{% url 'update_profile'%}" method="post" enctype="multipart/form-data">

                    {% csrf_token%}
                    {% bootstrap_form form %}
                    <div class="form-group text-center">
                        <input type="submit" class="m-4 btn btn-primary login-btn" value="Update Profile">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
     
    </div>
</div>

{% endblock %}